vibration ON
vector ON 
vector SCALE 5.0
vector 0.1
set bondRadiusMilliAngstroms 0 
background [253,246,227]
isoSurface SURF center {XXXXX YYYYY ZZZZZ} sphere RRRRR 
color $SURF translucent [176,255,176]
